<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.novel.common.mapper.TbQuartzConfigMapper" >
  <resultMap id="BaseResultMap" type="com.novel.common.pojo.TbQuartzConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="job_code" property="jobCode" jdbcType="VARCHAR" />
    <result column="job_description" property="jobDescription" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="cron_expression_desc" property="cronExpressionDesc" jdbcType="VARCHAR" />
    <result column="target_object" property="targetObject" jdbcType="VARCHAR" />
    <result column="target_method" property="targetMethod" jdbcType="VARCHAR" />
    <result column="con_current" property="conCurrent" jdbcType="VARCHAR" />
    <result column="valid_status" property="validStatus" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="SECOND" property="second" jdbcType="VARCHAR" />
    <result column="MINUTE" property="minute" jdbcType="VARCHAR" />
    <result column="HOUR" property="hour" jdbcType="VARCHAR" />
    <result column="DAY" property="day" jdbcType="VARCHAR" />
    <result column="MONTH" property="month" jdbcType="VARCHAR" />
    <result column="WEEK" property="week" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, job_code, job_description, cron_expression, cron_expression_desc, target_object, 
    target_method, con_current, valid_status, insert_time, update_time, SECOND, MINUTE, 
    HOUR, DAY, MONTH, WEEK, YEAR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.novel.common.pojo.TbQuartzConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_quartz_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_quartz_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_quartz_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.novel.common.pojo.TbQuartzConfigExample" >
    delete from tb_quartz_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.novel.common.pojo.TbQuartzConfig" >
    insert into tb_quartz_config (id, job_code, job_description, 
      cron_expression, cron_expression_desc, target_object, 
      target_method, con_current, valid_status, 
      insert_time, update_time, SECOND, 
      MINUTE, HOUR, DAY, 
      MONTH, WEEK, YEAR)
    values (#{id,jdbcType=BIGINT}, #{jobCode,jdbcType=VARCHAR}, #{jobDescription,jdbcType=VARCHAR}, 
      #{cronExpression,jdbcType=VARCHAR}, #{cronExpressionDesc,jdbcType=VARCHAR}, #{targetObject,jdbcType=VARCHAR}, 
      #{targetMethod,jdbcType=VARCHAR}, #{conCurrent,jdbcType=VARCHAR}, #{validStatus,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{second,jdbcType=VARCHAR}, 
      #{minute,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{week,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.novel.common.pojo.TbQuartzConfig" >
    insert into tb_quartz_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobCode != null" >
        job_code,
      </if>
      <if test="jobDescription != null" >
        job_description,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="cronExpressionDesc != null" >
        cron_expression_desc,
      </if>
      <if test="targetObject != null" >
        target_object,
      </if>
      <if test="targetMethod != null" >
        target_method,
      </if>
      <if test="conCurrent != null" >
        con_current,
      </if>
      <if test="validStatus != null" >
        valid_status,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="second != null" >
        SECOND,
      </if>
      <if test="minute != null" >
        MINUTE,
      </if>
      <if test="hour != null" >
        HOUR,
      </if>
      <if test="day != null" >
        DAY,
      </if>
      <if test="month != null" >
        MONTH,
      </if>
      <if test="week != null" >
        WEEK,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jobCode != null" >
        #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobDescription != null" >
        #{jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="cronExpressionDesc != null" >
        #{cronExpressionDesc,jdbcType=VARCHAR},
      </if>
      <if test="targetObject != null" >
        #{targetObject,jdbcType=VARCHAR},
      </if>
      <if test="targetMethod != null" >
        #{targetMethod,jdbcType=VARCHAR},
      </if>
      <if test="conCurrent != null" >
        #{conCurrent,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null" >
        #{validStatus,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="second != null" >
        #{second,jdbcType=VARCHAR},
      </if>
      <if test="minute != null" >
        #{minute,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.novel.common.pojo.TbQuartzConfigExample" resultType="java.lang.Integer" >
    select count(*) from tb_quartz_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_quartz_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.jobCode != null" >
        job_code = #{record.jobCode,jdbcType=VARCHAR},
      </if>
      <if test="record.jobDescription != null" >
        job_description = #{record.jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.cronExpression != null" >
        cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.cronExpressionDesc != null" >
        cron_expression_desc = #{record.cronExpressionDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.targetObject != null" >
        target_object = #{record.targetObject,jdbcType=VARCHAR},
      </if>
      <if test="record.targetMethod != null" >
        target_method = #{record.targetMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.conCurrent != null" >
        con_current = #{record.conCurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.validStatus != null" >
        valid_status = #{record.validStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.second != null" >
        SECOND = #{record.second,jdbcType=VARCHAR},
      </if>
      <if test="record.minute != null" >
        MINUTE = #{record.minute,jdbcType=VARCHAR},
      </if>
      <if test="record.hour != null" >
        HOUR = #{record.hour,jdbcType=VARCHAR},
      </if>
      <if test="record.day != null" >
        DAY = #{record.day,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.week != null" >
        WEEK = #{record.week,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_quartz_config
    set id = #{record.id,jdbcType=BIGINT},
      job_code = #{record.jobCode,jdbcType=VARCHAR},
      job_description = #{record.jobDescription,jdbcType=VARCHAR},
      cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      cron_expression_desc = #{record.cronExpressionDesc,jdbcType=VARCHAR},
      target_object = #{record.targetObject,jdbcType=VARCHAR},
      target_method = #{record.targetMethod,jdbcType=VARCHAR},
      con_current = #{record.conCurrent,jdbcType=VARCHAR},
      valid_status = #{record.validStatus,jdbcType=VARCHAR},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      SECOND = #{record.second,jdbcType=VARCHAR},
      MINUTE = #{record.minute,jdbcType=VARCHAR},
      HOUR = #{record.hour,jdbcType=VARCHAR},
      DAY = #{record.day,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=VARCHAR},
      WEEK = #{record.week,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.novel.common.pojo.TbQuartzConfig" >
    update tb_quartz_config
    <set >
      <if test="jobCode != null" >
        job_code = #{jobCode,jdbcType=VARCHAR},
      </if>
      <if test="jobDescription != null" >
        job_description = #{jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="cronExpressionDesc != null" >
        cron_expression_desc = #{cronExpressionDesc,jdbcType=VARCHAR},
      </if>
      <if test="targetObject != null" >
        target_object = #{targetObject,jdbcType=VARCHAR},
      </if>
      <if test="targetMethod != null" >
        target_method = #{targetMethod,jdbcType=VARCHAR},
      </if>
      <if test="conCurrent != null" >
        con_current = #{conCurrent,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null" >
        valid_status = #{validStatus,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="second != null" >
        SECOND = #{second,jdbcType=VARCHAR},
      </if>
      <if test="minute != null" >
        MINUTE = #{minute,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        HOUR = #{hour,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        DAY = #{day,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        WEEK = #{week,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.novel.common.pojo.TbQuartzConfig" >
    update tb_quartz_config
    set job_code = #{jobCode,jdbcType=VARCHAR},
      job_description = #{jobDescription,jdbcType=VARCHAR},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      cron_expression_desc = #{cronExpressionDesc,jdbcType=VARCHAR},
      target_object = #{targetObject,jdbcType=VARCHAR},
      target_method = #{targetMethod,jdbcType=VARCHAR},
      con_current = #{conCurrent,jdbcType=VARCHAR},
      valid_status = #{validStatus,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      SECOND = #{second,jdbcType=VARCHAR},
      MINUTE = #{minute,jdbcType=VARCHAR},
      HOUR = #{hour,jdbcType=VARCHAR},
      DAY = #{day,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR},
      WEEK = #{week,jdbcType=VARCHAR},
      YEAR = #{year,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>